body {
    background-image: url("bg_1.jpg");
	background-size: cover;
}

.login_section {
	margin-top: 5%;
	margin-bottom: 5%;
	justify-content: center; /*範圍內的項目都保持置中排列*/
	max-width: 450px;
	padding: 30px 50px 30px 50px; /*內距*/
	align-items: center;
	display: flex;
	margin:50px auto;
	box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.15); /*陰影*/
	border-radius: 2%; /*圓角*/
	background-color: rgba(255, 255, 255, 0.5);
}

.register_section {
	margin-top: 5%;
	margin-bottom: 5%;
	justify-content: center; /*範圍內的項目都保持置中排列*/
	max-width: 450px;
	padding: 30px 50px 30px 50px; /*內距*/
	align-items: center;
	display: flex;
	margin:50px auto;
	box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.15); /*陰影*/
	border-radius: 2%; /*圓角*/
	background-color: rgba(255, 255, 255, 0.5);
}

.login_title {
	text-align: center;
	margin-top: 3%;
	margin-bottom: 2%;
	color: rgb(107, 32, 117);
	font-weight: bold;
}

.register_title {
	text-align: center;
	margin-top: 3%;
	margin-bottom: 2%;
	color: rgb(107, 32, 117);
	font-weight: bold;
}

label {
	color: rgb(107, 32, 117);
	font-weight: bold;
	margin-top: 20px;
	font-size: 20px;
}

.btn{
	margin-top: 20px;
}

.btn1 {
	float: right;
}

a {
	font-size: 20px;
	font-weight: bold;
}

.title_section {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 2%;
	color: white;
	font-weight: bold;
}

.play {
	margin-top: 5%;
	margin-bottom: 5%;
	justify-content: center; 
	max-width: 900px;
	padding: 20px 40px 20px 40px;
	align-items: center;
	display: flex;
	margin:50px auto;
	box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.15); /*陰影*/
	border-radius: 2%; /*圓角*/
	background-color: rgba(255, 255, 255, 0.5);
	flex-direction: column; /*容器內部項目垂直排列*/
}

.play_title {
	color: rgb(107, 32, 117);
	font-weight: bold;
	font-size: 28px;
}

.play_content {
	margin-top: 10px;
}

.play_content h5 {
	color: rgb(107, 32, 117);
	font-weight: bold;
	font-size: 20px;
}

.story {
	margin-top: 5%;
	margin-bottom: 5%;
	justify-content: center; 
	max-width: 900px;
	align-items: center;
	display: flex;
	margin:10px auto;
	flex-direction: column; /*容器內部項目垂直排列*/
}

.story h1 {
	color: white;
	font-weight: bold;
	font-size: 90px;
	margin-top: 7%;
}

.story h2 {
	color: white;
	font-weight: bold;
	font-size: 40px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

.play_btn {
	margin-top: 2%;
}

.play_btn .btn {
	width: 400;
	height: 200;
}

.btn2 {
	margin-left: 100px;
}

.story_intro {
	margin-top: 4%;
	padding: 10px 40px 10px 40px;
	color: #ffffff;
	padding: 20px;
	background-color: rgba(100, 100, 100, 0.7);
}

.story_intro h4 {
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 120%;
}

/* player.css */
.content {
	width: 1000px;
	height: 600px;
	display: flex;
	margin: auto;
}

.aside {
	display: table;
	/* 表格排版 */
	height: 200px;
	/* 設置高度 */
	text-align: center;

}

.aside div {
	display: table-cell;
	/* 儲存格 */
	vertical-align: middle;
	/* 垂直物件：中間 */
	line-height: 250px;

}

.content a {
	text-decoration: none;
	color: #472F75;
	font-weight: bolder;
}

.title_text {
	font-size: 32px;
	font-weight: bold;
	margin: 10px;

	display: flex;
	/* 彈性排版 */
	align-items: center;
	/* 對齊物件：中間 */
}

.playerinfo {
	background-color: #FCF6DB;
	width: 450px;
	height: 480px;
	opacity: 85%;
	border-radius: 50px;

	position: relative;
	top: 80px;
	left: 70px;

	text-align: center;
	padding: 30px;
}

#change_pswd {
	border: none;
	background-color: transparent;
	font-size: 22px;
	font-weight: bold;
}

#change_pswd:hover {
	color: #ff0000;
}

#achievement {
	background-color: #FCF6DB;
	width: 500px;
	height: 80px;
	float: right;
	opacity: 85%;
	border-radius: 50px;

	position: relative;
	right: -300px;
	top: 40px;
}

#end_collect {
	background-color: #FCF6DB;
	width: 500px;
	height: 80px;
	opacity: 85%;
	border-radius: 50px;

	position: relative;
	right: 35px;
	top: 330px;
}

/* player.css */

/* end_collect.css */

.end_content {
	/* background-color: #AB82DF; */
	background-color: #472F75;
	width: 80%;
	opacity: 85%;
	padding: 15px;

	margin: auto;
	text-align: center;
}

.end_content img {
	height: 20px;
	margin-left: 20px;
}

.end_content hr {
	color: #ffffff;
}

#end {
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 42px;
	text-align: center;
	margin: 20px;
}

.end_collapse {

	/* 還沒蒐集到是灰色 已蒐集到就會點亮 */
	/* background-color: #FCF6DB; */
	background-color: #8e8b83;
	border-radius: 20px;
	width: 80%;
	font-size: 18px;
	font-weight: bold;
	line-height: 35px;

	display: inline-block;
	margin: 10px;

}

.story_name {
	background-color: #472F75;
	color: aliceblue;
	font-size: 20px;
	font-weight: bold;
	border-radius: 20px;
	margin: 15px;
	height: 50px;
	opacity: 95%;

	text-align: center;
	line-height: 50px;
}

/* end_collect.css */

/* achievement.css */

.achieve_content {
	margin: auto;
	width: 80%;
}

.achieve_content h1 {
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 42px;
	text-align: center;
	margin: 30px;
}

.achieve_content img {
	height: 48px;
	margin-left: 20px;
}

.achieve {
	/* background-color: #FCF6DB; */
	background-color: #8e8b83;
	opacity: 90%;
	height: 55px;
	width: 70%;
	font-size: 20px;
	border-radius: 50px;

	line-height: 55px;
	margin: 20px auto;

	display: table;
	/* 表格排版 */
	height: 55px;
	/* 設置高度 */

}

.achieve div {
	display: table-cell;
	/* 儲存格 */
	line-height: 55px;
}

.achieve_title {
	font-size: 24px;
	font-weight: bold;
}

.pagination img {
	height: 70px;
	cursor: pointer;
}

.pagination li a {
	background-color: transparent;
	border: none;
}

.pagination li a:hover {
	background-color: #472F75;

}

#ach_body {
	display: flex;
	flex-direction: column;
	min-height: 80vh;
}

#page2 {
	display: none;
}


/* achievement.css */



/* try_story.css */

#storyContainer {
	width: 70vw;
	margin: 80px auto;
}


#storyText {
	color: #ffffff;
	padding: 20px;
	background-color: rgba(100, 100, 100, 0.7);
	/* font-family: Microsoft JhengHei; */
}

#choicesContainer {
	margin: auto;
	padding: 20px; 
	text-align: center;
}

#choicesContainer button {
	margin: 10px;
	padding: 15px;
	width: auto;
	font-size: larger;
	color: #ffffff;
	border-radius: 50px;
	border-width: 5px;
	border-color: #FCF6DB;
	background-color: #784bcc;
}
